<h1>Welcome to Bandstand — home to concert organizers everywhere</h1>

<h2> All concerts:</h2>
<div class="container border shadow-sm p-2 mb-2 bg-white rounded">
<% @concerts.order('date DESC').each do |concert| %>
<% if Date.today.to_s < concert.date %>
  <h3> Artist: <%= link_to concert.band_name.titleize, user_concert_path(@user, concert) %> </h3>
  <p> Date: <%= concert.date.to_time.strftime('%B %e, %Y') %> </p>
<% else %>
  <h3> Artist: <%= link_to concert.band_name.titleize, user_concert_path(@user, concert) %> </h3>
  <p> Date: <%= concert.date.to_time.strftime('%B %e, %Y') %> </p>
  <p>***Sorry, you missed this show!</p>
<% end %>
<% end %>
</div>
