<h1>Welcome to Bandstand — home to concert organizers everywhere</h1>

<h2> All concerts:</h2>
<%= link_to "***Click to see what shows are playing this month", this_month_concerts_path %>
<br></br>
<%= link_to "***Click to see what shows you may have missed", past_concerts_concerts_path %>
<br></br>
<%= render partial: 'concerts_display' %>
