<h2> Artist or band name: <%= @concert.band_name.capitalize %> </h2>
<h3> Date: <%= @concert.date.to_time.strftime('%B %e, %Y') %> </h3>
<h3> Time: <%= @concert.concert_time.to_time.strftime('%l:%M %p') %> </h3>
<p> Added by: <%= @concert.user.name.capitalize %> </p>
